/*some changes*/
h1{
 font-size: 50px;
 color: #3E3D38;
 display: flex;
 justify-content: center;
 align-content: center;
 text-align: left;
}
h3{
  font-size: 36px;
  color: #3E3D38;
  display: flex;
  justify-content: center;
  align-content: center;
}
h2{
  color: #3E3D38;
  font-size: 24px;
}
.information{
  text-align: justify;
  color: #3E3D38;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button {
  border: none;
  color: #F8F9F1;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #F8F9F1; 
  color: black; 
}

.button1:hover {
  background-color: #FFC2AF
;
  color: #DBC091
;
}
/*some changes*/
*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-color:#F8F9F1;
}

p{
  font-size: 18px;
}


img{
  width: 300px;
  height: 300px;  
}

.header {
  
  height: 3.0rem;
  width: 100%;
  margin-bottom: none;
}
.nav {
  font-size: 20px;
  display:inline;
  font-family: Arial;
  justify-content:space-between;
  text-align: middle;
  background-color: #ECEDDB ;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: space-between;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #3E3D38;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color:  #67463c;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}

}
ul {
  position: middle;
  top: 0;
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#eceddb ;
}

li {
  float: left;
}

li a {
  display: block;
  color:#3E3D38 ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}